.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    color: antiquewhite;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

form {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


ul {
    width: 850px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

img {
    width: 8vw;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


Button {
    font-family: 'Amatic SC', cursive;
}