@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2f2f2f;
}

:root{
    display: flex;
    justify-content: start;
    align-items: center;
}
